
<%
 arr={'share'=>'分享','watch'=>'围观','in'=>'收藏'}
%>
<div class='<%=action_type%>_button_whole'>
<div class="<%=action_type%>_button_head"><%=ActivityRef.where(:activity_id=>activity_id,:ref_name=>action_type).first.refnum%>
</div>
<%=link_to arr[action_type],{:controller=>:activity_user_actions,:action=>:addAction,:action_type=>action_type,:note=>note,:activity_id=>activity_id},{:remote=>true,:id=>action_type+'_button',:class=>action_type+'_button'}%>
</div>